.article {
  width: 100%;
  height: 100%;
  min-height: 340px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    background: linear-gradient(180deg, #ff6060 85%, #000000a6 100%);
    cursor: pointer;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .article-shadow {
    background: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  & .article-title {
    display: flex;
    width: calc(100% - 20px);
    height: 52px;
    bottom: 0;
    color: #ffffff;
    font-size: 18px;
    left: 20px;
    margin-right: 20px;
    position: absolute;
  }
}

.article:hover > img {
  opacity: 0.3;
}


